

html {

	background: black;
	font-family: 'Open Sans Condensed', 'Monaco', 'Consolas', monospace;
	font-size: 2.5vw;
	color: $white;
	height: 100%;

	cursor: default;
	
	// #TODO
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	-webkit-user-select: inherit;
	-moz-user-select: inherit;
	user-select: inherit;
	cursor: inherit;
}

body {
	
	// GRID

	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 10% 45% 45%;
	// grid-template-columns: 0.20fr 0.80fr;
	// grid-template-rows: 0.10fr 0.45fr 0.45fr;

	& .transport {
		grid-column: span 2; // #TODO: Why 1 / 3?
		grid-row: 1;
	}
	
	& .delay {
		grid-column: span 1;
		grid-row: 2;
	}

	& .sequencer-panel {
		grid-column: 1;
		grid-row: 3;
	}

	& .sequencer {
		grid-column: 2;
		grid-row: span 2;
	}

	
	background: inherit;

	position: relative;

	margin: 0;
	padding: 5px 0 0 0;

	height: 100%;

	// &:before {
	// 	background: rgba(0, 0, 0, 0.94);
	// 	content: '';
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// }

}

// 

.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

