

.delay {

	display: flex;
	flex-direction: column;

	background: $grey;
	border-left: $panel-border-width solid $rainbow-pink;

	position: relative;

	padding: $panel-border-width;


}

.delay-label {
	// height: 10%;
	margin: 1vw 0;
}

.delay-fader-labels {

	// color: black;
	// position: absolute;
	bottom: 10px;
	left: 0;

	z-index: 1;

	display: flex;
	justify-content: space-around;
	
    // padding: 0 $panel-border-width;
	width: 100%;

	
	pointer-events: none;

	& * {
		flex-basis: 0;
		flex-grow: 1;
		pointer-events: none;
	}

}

.delay-faders {

    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    width: 100%;
    // height: 100%;

    & .fader {
    	// display: block;
    	background: $grey;

    	flex: 1 1 100%;

    	margin: 0 1vw;
    	width: auto;
    	height: auto;
    	
    }

    & .fader-bar {
    	background: $rainbow-pink;
    }

	// & > * {
	// 	flex-basis: 0;
	// 	flex-grow: 1;
	// }
	
}

