

.fader {
	display: inline-flex;
	background: cyan;
	position: relative;
	margin: 0px 5px;
	width: 3vw;
	height: 15vw;
	user-select: none;
	cursor: ns-resize;
}

.fader-bar {
	background: pink;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
}

