

// Sequencer panel

.sequencer-panel {

	display: flex;
	flex-direction: column;

	position: relative;
	background: $panel-background-color;
	border-left: $panel-border-width solid $rainbow-orange;

	padding: $panel-border-width;

	& .ui-button {
		border-right: $panel-border-width solid $rainbow-orange;
	}

}

.clear-sequence-button {
	margin-top: auto;
}

// Sequencer grid
	
.sequencer {
	display: flex;
	flex-flow: row wrap;
	// flex-direction: column-reverse;
	position: relative;
	z-index: 1;
	user-select: none;
	margin: 0 auto;
	width: 100%;
}

.node {

	flex-basis: 6.25%;

	cursor: pointer;

	background: rgba(255,255,255,0.09);

	border: 1px solid black;
	border-radius: 3px;
	
	// height: 5vh;

	transition: 0.4s all ease;

	////////////////////////////////////////////////////////////////////////////
	// Step coloring
	
	// 1,9

	&:nth-child(16n+1), 
	&:nth-child(16n+9) {
		background: rgba(255,255,255,0.14);
	}

	// 5,13

	&:nth-child(16n+5), 
	&:nth-child(16n+13) {
		background: rgba(255,255,255,0.13);
	}

	// 3,7,11,15

	&:nth-child(16n+3), 
	&:nth-child(16n+7), 
	&:nth-child(16n+11), 
	&:nth-child(16n+15), {
		background: rgba(255,255,255,0.11);
	}

	&:hover {
		background: rgba(255,255,255,0.30);
		transition: 0.1s all ease;
	}

	&.is-selected {
		background: $rainbow-blue;
		transition: 0.1s all ease;
	}

	&.is-active {
		background: rgba(255, 255, 255, 0.2);
		transition: 0.4s all ease;
	}

}

