

.transport {

	display: flex;
	background: $grey;
	position: relative;

	overflow: hidden;
	
}

.play-button {
	border-right: $panel-border-width solid $rainbow-green;
}

.stop-button {
	border-right: $panel-border-width solid $rainbow-red;
}

.tempo {
	border-right: $panel-border-width solid $rainbow-blue;
}

.step-counter {
	
	border-left : $panel-border-width solid $rainbow-blue;
	margin-left: auto;

	max-width: 10vw;
	width: 100%;

}

