

// UI Elements

%ui-node {

	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;

	outline: 0;
	border: 0;
	border-right: $panel-border-width solid transparent;
	border-left: $panel-border-width solid transparent;

	border-radius: 0;

	// #TODO
	padding: 1vw 2.5vw;

	&.is-smaller {
		font-size: 2.0vw;
	}

	&.is-small {
		font-size: 1.3vw;
	}

}

// UI Generic Node

.ui-node {

	@extend %ui-node;

}

// UI Button

.ui-button {

	@extend %ui-node;

    background: rgba(253,253,255,0.03);
	border-right: $panel-border-width solid $rainbow-blue;
	
	cursor: pointer;

	&:hover {
		background: $grey-lighter;
	}

	&:active {
		position: relative;
		top: 1px;
	}

	&.is-active {
		background: $grey-lighter;
	}

}

// UI Input

.ui-input {

	@extend %ui-node;
	
	cursor: pointer;

	&:hover {
		background: $grey-lighter;
	}

	&:active {
		position: relative;
		top: 1px;
	}

	&.is-active {
		background: $grey-lighter;
	}

}

// UI Title

.ui-title {

	@extend %ui-node;
	
	padding: 0;
	margin: 1vw 0;

	&:first-child {
		padding-bottom: $panel-border-width / 2;
	}

}

// UI Label

.ui-label {

	@extend %ui-node;

	text-transform: none;

	padding: 0;

	margin: 1vw 0;
	width: 100%;

}

// UI Element font sizes

.ui-button, .ui-label, .ui-title, .ui-node {

	font-size: inherit;

}

.ui-button-smaller, .ui-label-smaller, .ui-title-smaller, .ui-node-smaller {

	font-size: 2.0vw;

}

.ui-button-small, .ui-label-small, .ui-title-small, .ui-node-small {

	font-size: 1.3vw;

}

