

// COLORS
$grey: 						rgba(51, 51, 53, 0.75);
$grey-lighter: 				rgba(56, 56, 58, 0.75);
$white: 					rgba(253, 253, 255, 0.85);

$dark-blue: 				rgba(32, 42, 61, 1.0) !default;

$rainbow-red: 				rgba(255,102,102, 0.75);
$rainbow-pink: 				rgba(255,102,152, 0.75);
$rainbow-orange: 			rgba(255,179,102, 0.75);
$rainbow-yellow: 			rgba(255,255,102, 0.75);
$rainbow-green: 			rgba(152,255,102, 0.75);
$rainbow-blue:	 			rgba(102,152,255, 0.75);

$play-green:				rgba(24, 132, 45, 0.75);
$stop-red:					rgba(167, 34, 34, 0.75);

// #TODO
$panel-background-color: 	$grey;


// STUFF
$panel-border-width: 0.4vw;
$border-radius: 3px;

